src/main/resources/xsd/token/response.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Dec 13 2014 21:59:13 GMT-0800 (Pacific Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="response">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="slat">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="timings"></xs:element>
                                             <xs:element name="token-number"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="diesease">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="symptome"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                           <xs:element name="slat-timings"></xs:element>
                           <xs:element name="dr"></xs:element>
                           <xs:element name="contact-person"></xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
</xs:schema>